<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8' />
  <title>Destino</title>
  <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body class='container'>
<div class='card'>
  <h1><%= @feedback %></h1>
  Obrigada pelo feedback, volte sempre!
</div>
</body>
</html>